// Variables for General Layout and Styles
$bg-color: #fff; // Background color for body
$text-color: #000; // Default text color
$font-stack: 'Roboto', sans-serif; // Font stack

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: $font-stack;
}

body {
  background-color: $bg-color;
  color: $text-color;
}

pre {
  font-family: $font-stack;
}
