.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 photos per row
  gap: 20px;
  padding: 20px;
  justify-items: center;
  height: 80vh; // Set a fixed height for scrolling
  overflow-y: scroll; // Allow vertical scrolling within the container

  div {
    position: relative;
    width: 100%;
    padding-top: 100%; // Ensures the grid items are square
    cursor: pointer;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05); // Scale effect on hover
      }
    }
  }
}

.loading-spinner {
  grid-column: 1 / -1; // Center the spinner in the grid
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
